body{
    font-family: Plus Jakarta Sans;
    background-color: blue;
}
nav{
    max-width: 375px;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    background-color: #fff;
    gap: 18px;
}
.name{
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
}
.status{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #B0B0B0;
}
.label{
    margin-left: 120px;
}
.messages{
    max-width: 375px;
    margin: 0 auto;
    background-color: #F9FAFB;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
    padding: 24px 16px 120px;
}
.blue_mes{
    background-color: #005FF9;
    border-radius: 12px;
    max-width: 272px;
    padding: 10px 16px;
    justify-self: end;
    display: grid;
}
.white_mes{
    background-color: #FFFFFF;
    border-radius: 12px;
    max-width: 272px;
    padding: 10px 16px;
    display: grid;
}
.white_txt{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #19191A;
    justify-self: end;
}
.blue_txt{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #fff;
    justify-self: end;
}
.footer_sec{
    max-width: 375px;
    margin: 0 auto;
    background-color: #FFFFFF;
    display: flex;
    padding: 14px 16px 30px;
    justify-content: space-between;
    box-shadow: 0px -3px 10px  #0000000F;
}

input{
    width: 285px;
    padding: 17px 14px;
    border-radius: 8px;
    background-color: #F9FAFB;
}
.white_txt_tick{
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: right;
    color: #B0B0B0;
}