.btn-div{
    max-width: 200px;
    padding: 50px;
    margin: 0 auto;
}
.btn, .hello-btn, .effect-btn, .task-btn{
    padding: 10px 20px;
    background-color: aqua;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
}
.time, .hello, .effect-p{
    padding: 10px;
    background-color: aqua;
    border-radius: 10px;
    border: 2px solid black;
}
.newTask{
    padding: 10px;
    background-color: aqua;
    border-radius: 10px;
    border: 2px solid black;
}